body{
    background-color: #000000;
    color: rgb(99, 255, 232);
    margin: 50px;
    padding: 50px;
    text-align: center;
    border: solid rgb(97, 165, 195) 2px;
    background-image:url(Assets/image1.jpj.png)  ;
}

button{
    border-radius: 20px;
    margin: 30px;
    padding: 5px;
    background-color: rgba(255, 127, 146, 0.718);
}

p{
    font-size: larger;
    font-weight: 700;
    font-style: unset;
    font-family: 'Times New Roman', Times, serif;
    
}